.icon-password {
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    z-index: 2;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
    color: #999999;
}

.content-height {
    height: 100vh;
}